<div>
    <div class="row well">
        <div class="flex-container" style="padding:20px 0;">
            <div v-for="field in fields">
                <strong>{{field.title}}</strong>
            </div>
            <div></div>
        </div>
        <div class="flex-container" v-for="(index, item) in items" track-by="$index">
            <div>{{index + 1}}</div>
            <div v-for="(key,field) in item">
                <input class="form-control" name="{{name}}[{{index}}][{{key}}]" v-model="field.value" value="{{field.value}}">
            </div>
            <div>
                <a class="btn btn-xs btn-danger" v-on:click="removeItem($index)">Remove</a>
                <a :disabled="$index < 1" class="btn btn-xs btn-default" v-on:click="moveUp($index)"><i class="fa fa-arrow-up"></i></a>
                <a :disabled="$index === items.length -1" class="btn btn-xs btn-default" v-on:click="moveDown($index)"><i class="fa fa-arrow-down"></i></a>
            </div>
        </div>
        <div style="text-align:center; padding:20px 0;" v-if="items.length < 1">
            <p>No Items</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-push-4">
            <a class="btn btn-primary " v-if="!limit || limit > items.length" v-on:click="addItem()">Add </a>
        </div>
    </div>
</div>